.header {
    text-align: center;
}
.menu-container img {
    height: 80px;
}

.menu-container nav {
    background-color: black;
    line-height: 40px;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    margin-right: 20px;
    padding: 5px;
}
nav a:hover {
    background-color: gray;
}
.search-container {
    background-color: black;
    padding: 10px;
}
.search-input {
    width: 70%;
    padding: 5px;
}
.search-container a {
    margin-left: 10px;
    color: goldenrod;
}
.total-color{
    color: brown;
    font-weight: bolder;
}